
*{
    margin: 0;padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ebebeb;
}
header{
    position: sticky;
    display: flex;
    top: 0;
    color: white;
    background-color: #131921;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    
    line-height: 100%;
    gap:auto;
    z-index:999;
}

header input{
    padding: 10px;
    margin: 5px -5px 5px 5px;
    width: 800px;
    border: 0;
    height: 20px;

}

header h1{
    display: inline-block;
    color: white;
}
.navbar{
    background-color: #232f3e;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav li{
    display: inline;
    margin: 5px 0 6px 0;
    padding: 8px 5px;
}
nav ul{
    padding: 0px;
}
.card{
    display: inline-flex;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 50px;
    background-color:white;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
    top:-300px;
    margin-top: 0;
    overflow: hidden;
    padding-top: 20px;
}
.main-block{
    width: 100;
    height: auto;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.search-button{
    display: inline;
    padding: 10px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    background-color: orange;
}
.main-card{
    position: absolute;    
    margin-left: 40px;
}
.Back-to-top button{
    width: 100%;
    border: 0;
    padding: 15px 0;
    background-color: #37475A;
    color: white;
    font-weight: 500;
}
footer{
    position: relative;
    z-index: 999;
}
.footer-main{
    background-color: #232F3E;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
    
}
.footer-card{
    display: table-cell;
    padding: 0 10px;
    color: white;
    width: 900px;

}
.footer-card a{
    color: #DDD;
    line-height: 200%;
    font-size: 15px;
    text-decoration: none;
}
.footer-card li{
    text-decoration: none;
    padding: 0px;
}
.footer-card ul{
    list-style-type: none;
}
.footer-card h3{
    margin: 10px 0;
}
.language{
    padding: 5px;
    background-color: #232F3E;
    color: #DDD;
    border: 1px solid #848688;
    text-decoration: none;
    border-radius: 3px;
}
.footer-lang{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 100px;
}
.f-line{
    border-top: 1px solid #3a4553;
    margin-top: 40px;
}