*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 200vh;    
}
.container{
    height: 50vh;
    background-color: aqua;
    padding: 5px;
    position: relative;
}
.box{
    display: inline-block;
    background-color: antiquewhite;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}
#b1 {
        position: absolute;
        top:0;
        left: 0;
    }

    #b2 {
        position: absolute;
        top: 0;
        right: 0;
    }

    #b3 {
        position: absolute;
        bottom: 0;
        right:0;
    }

    #b4 {
        position: absolute;
        left: 0;
        bottom: 0;
    }
/* .container:hover{
    #b1,#b2,#b4,#b3{
        position: static;
    }
} */
